<!DOCTYPE html>
<html>
<head>
  <title>MeHungryNow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div>
  <% if user_signed_in? %>
    | Signed in as <%= current_user.email %> |
    | Not you? <%= link_to "sign out", destroy_user_session_path, method: :delete%> |
  <% else %>
   | <%= link_to "Sign Up", new_user_registration_path %> | or | <%= link_to "Sign In?", new_user_session_path %> |
  <% end %>
</div>

<%= yield %>



</body>
</html>
